<div class="mt-4">
    <form method="GET" action="/news">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">keywork</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter keywords,...">
        </div>

        <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>